POSTGRES_USER=rsmsg
POSTGRES_PASSWORD=change_me
POSTGRES_DB=rsmsg
POSTGRES_PORT=5442
RSMSG_HTTP_PORT=3000
RUST_LOG=server=info,tower_http=info
TURN_REALM=rsmsg.kevindev64.ru
TURN_USER=rsmsg
TURN_PASSWORD=change_me_turn_secret
TURN_EXTERNAL_IP=203.0.113.10
TURN_MIN_PORT=49160
TURN_MAX_PORT=49200
